# range

In [1]:
range(500)

range(0, 500)

In [2]:
list(range(50))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [13]:
list(range(10,19))

[10, 11, 12, 13, 14, 15, 16, 17, 18]

In [7]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
a=["dinesh","kishor"]

In [10]:
for i in a:
    print(i)

dinesh
kishor

In [52]:
list(range(0,10,3))

[0, 3, 6, 9]

for i in range (10):
    #print(i)
    if i %2==0:
       # print(i)
        l=[]
        l.append(i)
        print(l)

In [56]:
l=[]
for i in range (10):
    #print(i)
    if i%2==0:
        l.append(i)
print(l)

[0, 2, 4, 6, 8]

In [24]:
l=[]

In [25]:
l.append(i)

In [27]:
print(l)

[9]

In [31]:
l=[]
l.append(i) print(l)

SyntaxError: invalid syntax (3933394705.py, line 2)

In [47]:
l=[]
for i in range (10):
    #print(i)
    if i%2==1:
        l.append(i)
print(l)

[1, 3, 5, 7, 9]

In [70]:
a={"name":"kiran","age":20}
for i in a.keys():
    print(i)

name
age

In [72]:
for i in a.values():
    print(i)

kiran
20

In [74]:
for k,v in a.items():
    print(k)
    print(v)

name
kiran
age
20

In [97]:
a=["dinesh@gmail.com","kiran@gmail.com","kumar@yahoo.com"]
#a1=["dinesh","kumar","kiran"] fetch name from mail
#a2=["gmail","yahoo"] remove duplicate
#b=["apple","mango","apple","mango","orange"]
#a1=["apple":2,"mango":2,"orange":1] count of value
#a2=["apple","mango","orange"] individual value
#a3=["apple",Mango] duplicate

In [98]:
print(a,b)

['dinesh@gmail.com', 'kiran@gmail.com', 'kumar@yahoo.com'] ['apple', 'mango', 'apple', 'mango', 'orange']

In [161]:
for i in a:
    print(i.split("@")[0])

dinesh
kiran
kumar

In [204]:
for i in a:
    b=(i.split('@')[1])
    #print(b)
    c=b.split('.')[0]
    print(c)

gmail
gmail
yahoo

In [215]:
a=["dinesh@gmail.com","kiran@gmail.com","kumar@yahoo.com"]
for i in a:
    print(i.split('@')[0])
    b=(i.split('@')[1])
    #print(b)
    c=b.split('.')[0]
    print(c)

dinesh
gmail
kiran
gmail
kumar
yahoo

In [216]:
print(type(c))

<class 'str'>

In [9]:
a=["dinesh@gmail.com","kiran@gmail.com","kumar@yahoo.com"]
for i in a:
    print(i.split('@')[0])
    b=(i.split('@')[1])
    #print(b)
    c=b.split('.')[0]
    print(c)

dinesh
gmail
kiran
gmail
kumar
yahoo

In [2]:
a=["dinesh@gmail.com","kiran@gmail.com","kumar@yahoo.com"]
l1=[]
l2=[]
for i in a:
    name,domain=i.split('@')
    l1.append(name)
    c=domain[:len(domain)-4]
    if c not in l2:
        l2.append(domain[:len(domain)-4])
print(l1)
print(l2)

['dinesh', 'kiran', 'kumar']
['gmail', 'yahoo']

In [5]:
b=["apple","mango","apple","mango","orange"]
#a1=["apple":2,"mango":2,"orange":1] count of value
#a2=["apple","mango","orange"] individual value
#a3=["apple",Mango] duplicate
d={e:b.count(e) for e in set(b)}
print("", d)
i=list(d)
print("",i)
duplicates = list(set([x for x in b if b.count(x) > 1]))
print(duplicates)

 {'mango': 2, 'apple': 2, 'orange': 1}
 ['mango', 'apple', 'orange']
['mango', 'apple']

In [66]:
a=["dinesh@gmail.com","kiran@gmail.com","kumar@yahoo.com"]
for i in a:
    print(i.split('@')[0])
    b=(i.split('@')[1])
    #print(b)
    c=(b.split('.')[0])
    print(c)

dinesh
gmail
kiran
gmail
kumar
yahoo

In [54]:
b=["apple","mango","apple","mango","orange"]
d={e:b.count(e) for e in set(b)}
print('',d)
i=list(d)
print(i)
duplicates = list(set([x for x in b if b.count(x) > 1]))
print(duplicates)

 {'mango': 2, 'apple': 2, 'orange': 1}
['mango', 'apple', 'orange']
['mango', 'apple']

In [55]:
duplicates= list(set([x for x in b if b.count(x) >1]))
print(duplicates)

['mango', 'apple']

In [78]:
a=["dinesh@gmail.com","kiran@gmail.com","kumar@yahoo.com"]# diffrence in l2=set 
l1=[]
l2=set()
for i in a:
    name =i.split('@')[0]
    email=i.split('@')[1]
    email=email.split('.')[0]
    l1.append(name)
    l2.add(email)
print(l1)
print(l2)

['dinesh', 'kiran', 'kumar']
{'gmail', 'yahoo'}

In [77]:
a=["dinesh@gmail.com","kiran@gmail.com","kumar@yahoo.com"]  #diffrence in l2= list
l1=[]
l2=[]
for i in a:
    name =i.split('@')[0]
    email=i.split('@')[1]
    email=email.split('.')[0]
    l1.append(name)
    l2.append(email)
print(l1)
print(l2)

['dinesh', 'kiran', 'kumar']
['gmail', 'gmail', 'yahoo']

In [92]:
b=("apple mango apple mango orange")#try 1
b_list= []
for fruit in b.split():
    b_list.append(fruit)
    
fruit_counts= {}
for fruit in b_list:
    if fruit in fruit_counts:
        fruit_counts[fruit] +=1
    else:
        fruit_counts[fruit] =1
print(fruit_counts)

{'apple': 2, 'mango': 2, 'orange': 1}

In [98]:
b=("apple mango apple mango orange")#try 2
b_list=[]
for fruit in b.split():
    b_list.append(fruit)
fruit_counts={}
for fruit in b_list:
    if fruit in fruit_counts:
        fruit_counts[fruit] +=1
    else:
        fruit_counts[fruit]=1
print(fruit_counts)
unique_fruits= list(set(b_list))
print(unique_fruits)
repeated_fruits=[fruit for fruit in fruit_counts if fruit_counts[fruit] >1]
print(repeated_fruits)

{'apple': 2, 'mango': 2, 'orange': 1}
['mango', 'apple', 'orange']
['apple', 'mango']

In [100]:
b=("apple mango apple mango orange")#try 2
b_list=[]
for fruit in b.split():
    b_list.append(fruit)
fruit_counts={}
for fruit in b_list:
    if fruit in fruit_counts:
        fruit_counts[fruit] +=1
    else:
        fruit_counts[fruit]=1
print(fruit_counts)
unique_fruits= list(set(b_list))
print(unique_fruits)
repeated_fruits=[fruit for fruit in fruit_counts if fruit_counts[fruit] >1]
print(repeated_fruits)

{'apple': 2, 'mango': 2, 'orange': 1}
['mango', 'apple', 'orange']
['apple', 'mango']

# palindrom   #fibanocci series homework

In [3]:
def fibonacci(n):
    sequence = [0, 1]
    for i in range(2, n):
        next_number = sequence[i-1] + sequence[i-2]
        sequence.append(next_number)
    return sequence