# 03/11/2023

In [20]:
a=['circle','circle','square','triangle','square','circle']
for i in a:
    #print(i)
    if i=='circle':
        print(i)

circle
circle
circle

In [24]:
for i in a: #try1
    #print(i)
    if i =='circle':
        print(i)

circle
circle
circle

In [78]:
a=('circle','circle','square','triangle','square','circle')
d={}
j=0
for i in a:
    if i=='circle':
        j=j+1
        d[i]= j
print(d)

{'circle': 3}

In [90]:
a=[40,30,10,12,32,45,37,90]
total=0
for i in a:
    total=total+ i
    #total+= i
print(total)

296

In [102]:
a=[1,232,40,30,10,12,32,45,37,90]
j=0
for i in a:
    if 10 <= i <=99:
        j=j+i        
print(j)

296

In [1]:
#from a list of number calculate 2 digit and create trinagle shape *

In [12]:
n=int(input("enter the number of rows:"))
for i in range(1, n+1):
    for j in range(1,i+1):
        print("*",end="")
    print( )

enter the number of rows:5
*
**
***
****
*****

In [5]:
n=int(input("enter the numbers of rows"))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")
    for j in range(2*i+1):
        print("1",end="")
    print()

enter the numbers of rows5
    1
   111
  11111
 1111111
111111111

In [15]:
a=[1,232,40,30,10,12,32,45,37,90]
for num in a:
    if 10<= num <100:
        print(num)

40
30
10
12
32
45
37
90

In [88]:
a=[1,232,40,30,10,12,32,45,37,90]
for num in a:
    if 10<= num <100:
        print(num,end=' ')

40 30 10 12 32 45 37 90

In [11]:
n=4
for i in range(n):
    for j in range(n):
        print('*',end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [19]:
n=5;
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [22]:
n=5
for i in range(n):
    for j in range(i,n):
        print('',end='')
        
    for j in range(i+1):
        print('*',end='')
    print()

*
**
***
****
*****

In [23]:
class car():
    def engine(self):
        print("car engine")
    def cluth(self):
        print("car cluth")

In [24]:
a=car()
print(a)

<__main__.car object at 0x0000018D4B5857C0>

In [25]:
class truck():
    def engine(self):
        print("truck engine")
    def cluth(self):
        print("truck cluth")

In [26]:
b=truck()
print(b)

<__main__.truck object at 0x0000018D4B56FD30>

In [27]:
a.engine()

car engine

In [28]:
b.engine()

truck engine

In [29]:
a.cluth()
b.cluth()

car cluth
truck cluth

In [62]:
class calculator():    # try 1
    def add(self,a,b):
        print(a+b)
    def sub(self,a,b):
        print(a-b)
    def multi(self,a,b):
        print(a*b)
    def divi(self,a,b):
        print(a/b)
        
c=calculator()
c.add(10,15)
c.sub(10,15)
c.multi(10,15)
c.divi(10,15)

25
-5
150
0.6666666666666666

In [66]:
class calci():   #try 2
    def add(self,a,b):
        print(a+b)
    def sub(self,a,b):
        print(a-b)
    def multi(self,a,b):
        print(a*b)
    def divi(self,a,b):
        print(a/b)
c=calci()
c.add(1000,33)

1033

In [93]:
a=[1,232,765,40,30,10,12,32,45,37,90] # calculate 2 digit
j=0
for i in a:
    if 10 <=  i <=100:
        j+=i
print(j)

296

In [101]:
a=[1,232,765,40,30,10,12,32,45,37,90] # calculate 3 digit
j=0
for i in a:
    if 10 <=  i >=100:
        j+=i
print(j)

997

In [99]:
a=[1,3,232,765,40,30,10,12,32,45,37,90] # calculate 1 digit
j=0
for i in a:
    if 10 <=  i <=1:
        j+=i
print(j)

0